---
import { pwaInfo } from 'virtual:pwa-info'
import { ViewTransitions } from 'astro:transitions'
import '@unocss/reset/tailwind-compat.css'
// import '@fontsource/newsreader'
// import '@fontsource/newsreader/400-italic.css'
import Footer from '@/components/Footer.astro'

export interface Props {
	title?: string
}

const { title } = Astro.props

const pageTitle = title ? `${title} | Mayday.Blue` : 'Mayday.Blue'
---

<!DOCTYPE html>
<html lang="zh-CN" transition:animate={	title ? 'slide' : 'fade'}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<link rel="icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
		<link rel="mask-icon" href="/mask-icon.svg" color="#fdfdfd">
		<meta name="theme-color" content="#fdfdfd" media="(prefers-color-scheme: light)">
		<meta name="theme-color" content="#181818" media="(prefers-color-scheme: dark)">
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<meta name="description" content="Mayday lyrics collection.">
		{ import.meta.env.HEAD_SCRIPTS ? <Fragment set:html={import.meta.env.HEAD_SCRIPTS} /> : null }
    { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
		<script src="/src/pwa.ts"></script>
		<ViewTransitions />
	</head>
	<body class="bg-base fg-base h-screen pb-[env(safe-area-inset-bottom)]">
		<main class="h-full w-full pb-14 overflow-auto">
			<slot />
		</main>
		<Footer>
			<slot name="footer-left" slot="footer-left">
				<a href="/" class="p-2 -ml-2 hv-base">
					<h1 class="text-sm">Mayday<span class="fg-primary">.blue</span></h1>
				</a>
			</slot>
			<slot name="footer-right" slot="footer-right" />
		</Footer>
	</body>
</html>
